<div>
  <div class="breadcrumb">
    <a href="#">账号管理</a>
    <a href="#" class="active">行政系统</a>
  </div>
  <!-- 内容管理头 -->
  <div class="header-header">
    <!-- <br> -->
    <span style="margin-right: 20px;margin-top:10px;" class="xiaoshou" @click="lookposition()">全部基地</span>
    <span style="margin-right: 20px;margin-top:10px; color: #409EFF;" class="xiaoshou active_title">全部学校</span>
    <span style="margin-right: 20px;margin-top:10px;" class="xiaoshou" @click="lookTeacher()">全部辅导员</span>
    <span style="margin-right: 20px;margin-top:10px;" class="xiaoshou" @click="lookStudents()">全部学生</span>
    <span style="margin-right: 20px;margin-top:10px;" class="xiaoshou" @click="lookParents()">全部家长</span>
  </div>
  <div class="table-content">
    <!-- 搜索列表选项框 -->
    <div class="table-search">
      <div class="search-top">
        <div class="search-list">
          <el-form :inline="true" :model="searchItem" class="demo-form-inline">
            <el-form-item>
              <el-input v-model="from.schoolName" placeholder="学校名称" size="mini" style="width: 186px;"></el-input>
            </el-form-item>
            <el-form-item>
              <el-select v-model="from.schoolStatus" clearable  placeholder="状态" size="mini" style="width: 186px;">
                <el-option label="启用" value="1"></el-option>
                <el-option label="禁用" value="0"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-input v-model="from.schoolId" placeholder="请输入学校ID" size="mini" style="width: 186px;"></el-input>
            </el-form-item>
            <el-form-item v-show="active">
              <el-select v-model="value1" clearable  placeholder="请选择省份" size="mini" @change="valu1(value1)" style="width: 186px;">
                <el-option label="全国" value="9999"></el-option>
                <el-option v-for="(item,index) in options1" :key="index" :label="item.areaName" :value="item.areaNumber">
                </el-option>
              </el-select>
              -
              <el-select v-model="value2" clearable  placeholder="请选择城市" size="mini" @change="valu2(value2)" style="width: 186px;">
                <el-option v-for="(item,index) in options2" :key="index" :label="item.areaName" :value="item.areaNumber">
                </el-option>
              </el-select>
              -
              <el-select v-model="value3" clearable  placeholder="请选择县区" size="mini" @change="valu3(value3)" style="width: 186px;">
                <el-option v-for="(item,index) in options3" :key="index" :label="item.areaName" :value="item.areaNumber">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-button @click="handleList2()" style="padding: 8px 78px;
                  font-size: 14px;
                  background-color: #409EFF;
                  color: #fff;
                  margin-top: 6px; 
              ">搜索</el-button>
            </el-form-item>
            <br>
            <el-form-item>
              <div v-show="styleTextBool" @click="style()" style="width: 186px; margin-left: 4px;margin-top: -10px; cursor: pointer;">
                <img src="../../../../static/moreS.png" alt="">
                <span style="color: #909399; margin-left: 5px; font-size: 12px;">更多条件</span>
              </div>
            </el-form-item>
          </el-form>
        </div>
      </div>

    </div>
    <!-- 表格 -->
    <div class="table-box">
      <template>
          <div class="details-Date">
              <p>详细数据:</p>
            </div>
        <!-- 表格 -->
        <el-table v-loading="loading" :data="tableData" style="width: 100%" :header-cell-style="getRowClass" :row-style="tabH"
          :cell-style="tabP" :default-sort="{prop: 'date', order: 'descending'}">
          <!-- <el-table-column prop="schoolPersonId" label="学校ID" header-align="center" width="195">
          </el-table-column> -->
          <el-table-column prop="schoolName" label="学校名称" header-align="center">
            <template slot-scope="scope">
              <span @click="handleLook(scope.row.schoolId)" style="min-width: 80px;text-overflow:ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1; color: #F56C6C; overflow: hidden; cursor: pointer;"
                :title="scope.row.schoolName">{{scope.row.schoolName}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="areaName" label="地区" header-align="center">
            <template slot-scope="scope">
              <span style="min-width: 80px;text-overflow:ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden; cursor: pointer;"
                :title="scope.row.areaName">{{scope.row.areaName}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="classCount" label="班级" header-align="center">
            <template slot-scope="scope">
              <span @click="handleLookClass(scope.row.schoolId)" style="min-width: 40px; text-align: center; color: #F56C6C; cursor: pointer;"
                :title="scope.row.classCount">{{scope.row.classCount}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="counselorCount" label="辅导员" header-align="center">
                <template slot-scope="scope">
                    <span  @click="schoolTeacherList(scope.row.schoolId)" style="min-width: 40px; text-align: center; color: #F56C6C; cursor: pointer;"
                      :title="scope.row.counselorCount">{{scope.row.counselorCount}}</span>
                  </template>
          </el-table-column>
          <el-table-column prop="studentCount" label="学生" header-align="center">
            <template slot-scope="scope">
                <span  @click="schooStudentsList(scope.row.schoolId)" style="min-width: 40px; text-align: center; color: #F56C6C; cursor: pointer;"
                  :title="scope.row.studentCount">{{scope.row.studentCount}}</span>
              </template>
          </el-table-column>
          <el-table-column prop="parentCount" label="家长" header-align="center">
            <template slot-scope="scope">
                <span  @click="schoolParentsList(scope.row.schoolId)" style="min-width: 40px; text-align: center; color: #F56C6C; cursor: pointer;"
                  :title="scope.row.parentCount">{{scope.row.parentCount}}</span>
              </template>
          </el-table-column>
          <!-- <el-table-column prop="materialCount" label="节目" header-align="center">
          </el-table-column>
          <el-table-column prop="activityCount" label="活动" header-align="center">
          </el-table-column> -->
          <el-table-column prop="schoolStatus" label="状态" header-align="center">
          </el-table-column>
          <el-table-column label="操作" width="100" header-align="center">
            <template slot-scope="scope">
              <!-- <a @click="handleLook(scope.row.schoolPersonId)" type="danger" plain size="small" style="color:#F56C6C;padding: 4px 8px; font-size: 12px">查看</a> -->
              <a plain size="small" @click="handleEdit(scope.row.schoolId)" style="color:#F56C6C; font-size: 12px; margin-right: 5px;">编辑</a>
              <!-- <el-button type="danger" plain size="small">排序</el-button> -->
              <a v-if="scope.row.schoolStatus=='启用'" plain size="small" @click="statueTrue (scope.row)" style="color:#F56C6C; font-size: 12px">禁用</a>
              <a v-if="scope.row.schoolStatus=='禁用'" plain size="small" @click="statueTrue (scope.row)" style="color:#F56C6C; font-size: 12px">启用</a>

            </template>
          </el-table-column>
        </el-table>

        <!-- 分页 -->
        <el-pagination @current-change="handleCurrentChange" :currentPage="currentPage" :page-size="10" layout="total, prev, pager, next, jumper"
          :total="total" style="margin: 10px 0;">
        </el-pagination>
      </template>
    </div>
  </div>

  <el-dialog title="修改状态" :visible.sync="dialogVisibleStatus" width="30%">
    <span>确定要改变状态么？</span>
    <span slot="footer" class="dialog-footer">
      <el-button @click="editStatUs()" style="padding: 12px 24px; font-size: 12px">确认</el-button>
      <el-button @click="dialogVisibleStatus = false" style="padding: 12px 24px; font-size: 12px">取消</el-button>
    </span>
  </el-dialog>

</div>
