.box-one {
  width: 180px;
  height: 100px;
  /* background: linear-gradient(230deg, rgba(38, 206, 253, 1) 0%, rgba(106, 131, 254, 1) 100%); */
  background-image:url("./3.png");
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 16px;
  display: inline-block;
  margin-right: 82px;
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
  cursor: pointer;
  text-align: left;
  vertical-align: top;
}

.box-two {
  width: 180px;
  height: 100px;
  /* background: linear-gradient(230deg, rgba(252, 131, 236, 1) 0%, rgba(111, 124, 255, 1) 100%); */
  background-image:url("./1.png");
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
  cursor: pointer;
  text-align: left;
  margin-right: 82px;
  vertical-align: top;
}

.box-three {
  width: 180px;
  height: 100px;
  /* background: linear-gradient(230deg, rgba(252, 131, 236, 1) 0%, rgba(111, 124, 255, 1) 100%); */
  background-image:url("./2.png");
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
  cursor: pointer;
  text-align: left;
  margin-right: 44px;
}

.box-box {
  height: 646px;
  /* width: 824px; */
  margin: 20px;
  background: #fff;
  padding-top: 40px;
}

.box-top {
  width: 650px;
  height: 50px;
  margin: 0 auto;
}

.box-bottom {
  margin-top: 70px;
  text-align: center;
}

.p-title {
  color: #fff;
  font-size: 20px;
  /* margin-bottom: 10px; */
  /* margin-top: 4px; */
}

.p-p {
  color: #fff;
  font-size: 12px;
  margin-bottom: 3px;
}

.Group2 {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.Group1 {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.breadcrumb {
  display: inline-block;
  box-shadow: 0 0 13px -5px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  border-radius: 5px;
  counter-reset: flag;
  position: fixed;
  top: 22px;
  z-index: 2000;
  left: 179px;
}

.breadcrumb a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 32px;
  color: #409eff;
  padding: 0 10px 0 60px;
  background: #fff;
  background: linear-gradient(#fff, #fff);
  position: relative;
}

.breadcrumb a:first-child {
  padding-left: 46px;
  border-radius: 5px 0 0 5px;
}

.breadcrumb a:first-child:before {
  left: 14px;
}

.breadcrumb a:last-child {
  border-radius: 0 5px 5px 0;
  padding-right: 20px;
  background: #409eff;
  background: linear-gradient(#409eff, #409eff);
  color: #fff;
}


.breadcrumb a.active,
  {
  background: #fff;
  background: linear-gradient(#fff, #fff);
  color: #409eff;

}

.breadcrumb a.active:after,
  {
  background: #fff;
  background: linear-gradient(135deg, #fff, #fff);
  color: #409eff;

}

.breadcrumb a:after {
  content: '';
  position: absolute;
  top: 0;
  right: -16px;
  width: 32px;
  height: 32px;
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
  background: #fff;
  background: linear-gradient(135deg, #fff, #fff);
  box-shadow: 2px -2px 0 -1px rgba(0, 0, 0, 0.1), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
  border-radius: 0 5px 0 50px;
}

.breadcrumb a:last-child:after {
  content: none;
}

.breadcrumb a:before {
  content: counter(flag);
  counter-increment: flag;
  /*some styles now*/
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 6px 0;
  position: absolute;
  top: 0;
  left: 30px;
  background: #409eff;
  background: linear-gradient(#409eff, #409eff);
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.breadcrumb a:last-child:before {
  background: #fff;
  background: linear-gradient(#fff, #fff);
  color: #409eff;
}