<div>
  <div class="breadcrumb">
    <a href="#">硬件管理</a>
    <a href="#" class="active">硬件解绑</a>
  </div>
  <div class="table-content">

    <div class="table-search">
      <div class="search-top">
        <div class="search-title">

        </div>
        <div class="search-list">
          <el-form :inline="true" :model="deviceForm" class="demo-form-inline">
            <el-form-item>
              <el-input @change="fushu" v-model="deviceForm.Imei" placeholder="设备号" size="mini" style="width:186px;"></el-input>
            </el-form-item>
            <el-form-item>
              <el-input v-model="deviceForm.studentId" placeholder="学生ID" size="mini" style="width:186px;"></el-input>
            </el-form-item>
            <el-form-item>
              <el-input v-model="deviceForm.value" placeholder="关键字" size="mini" style="width:186px;"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button @click="handleList2()" style="padding: 8px 78px;
                        font-size: 14px;
                        background-color: #409EFF;
                        color: #fff;
                        margin-top: 6px; 
                    ">搜索</el-button>
            </el-form-item>

          </el-form>

        </div>
      </div>
      <div class="search-button">
        <el-button size="mini">搜索</el-button>
      </div>
    </div>
    <!-- 表格 -->
    <div class="table-box">
      <template>
        <div class="details-Date">
          <!-- <i></i> -->
          <p> 详细数据</p>
          <ul style="float:right;">

            <!-- <li> -->
            <!-- <a href="/api/hardware/lookNumberExport">导出本页数据</a> -->
            <!-- <el-button size="mini" @click="download()">导出本页数据</el-button>
            </li> -->

          </ul>

        </div>
        <!-- 表格 -->
        <el-table v-loading="loading" :data="tableData" id="div" style="width: 100%" :header-cell-style="getRowClass"
          :row-style="tabH" :cell-style="tabP" :default-sort="{prop: 'date', order: 'descending'}">

          <el-table-column prop="deviceNumber" label="设备号" header-align="center">
          </el-table-column>
          <el-table-column prop="studentPersonId" label="学生ID" header-align="center" width="195">
          </el-table-column>
          <el-table-column prop="studentName" label="学生姓名" header-align="center">
          </el-table-column>
          <el-table-column prop="schoolName" label="学校名称" header-align="center">
          </el-table-column>
          <el-table-column prop="parenName" label="家长姓名" header-align="center">
          </el-table-column>
          <el-table-column prop="parentPhone" label="家长手机号" header-align="center">
          </el-table-column>
          <!-- <el-table-column prop="deviceStatus" label="设备状态" header-align="center">
          </el-table-column> -->
          <el-table-column label="操作" width="150" header-align="center">
            <template slot-scope="scope">
              <a v-if="scope.row.deviceStatus=='绑定'" @click="details(scope.row.deviceNumber)" style="color:#F56C6C;padding: 4px 8px; font-size: 12px">解绑</a>

            </template>
          </el-table-column>

        </el-table>

        <!-- 分页 -->
        <el-pagination @current-change="handleCurrentChange" :currentPage="currentPage" :page-size="10" layout="total, prev, pager, next, jumper"
          :total="total" style="margin-top: 10px;margin-bottom: 10px;">
        </el-pagination>
      </template>
    </div>
  </div>

  <!-- 弹框 -->
  <el-dialog title="硬件解绑" :visible.sync="dialogVisibleStatus" width="30%">
    <span>确定解绑么？</span>
    <span slot="footer" class="dialog-footer">
      <el-button @click="fn()" style="padding: 12px 24px; font-size: 12px">确认</el-button>
      <el-button @click="dialogVisibleStatus = false" style="padding: 12px 24px; font-size: 12px">取消</el-button>
    </span>
  </el-dialog>




</div>
