<div>
  <div class="breadcrumb">
    <a href="#">账号管理</a>
    <a href="#" class="active">行政系统</a>
  </div>
  <!-- 内容管理头 -->
  <div class="header-header">
    <!-- <br> -->
    <span style="margin-right: 20px;margin-top:10px;" class="xiaoshou" @click="lookposition()">全部基地</span>
    <span style="margin-right: 20px;margin-top:10px;" class="xiaoshou" @click="lookSchool()">全部学校</span>
    <span style="margin-right: 20px;margin-top:10px;" class="xiaoshou" @click="lookTeacher()">全部辅导员</span>
    <span style="margin-right: 20px;margin-top:10px;" class="xiaoshou" @click="lookStudents()">全部学生</span>
    <span style="margin-right: 20px;margin-top:10px;" class="xiaoshou active_title" @click="lookParents()">全部家长</span>
  </div>
  <div class="table-content">
    <!-- 搜索列表选项框 -->
    <div class="table-search">
      <div class="search-top">
        <div class="search-list">
          <el-form :inline="true" :model="from" class="demo-form-inline">
            <el-form-item>
              <el-input v-model="from.parentName" placeholder="家长名称" size="mini" style="width: 186px;"></el-input>
            </el-form-item>
            <el-form-item>
              <el-input v-model="from.studentName" placeholder="学生名称" size="mini" style="width: 186px;"></el-input>
            </el-form-item>
            <el-form-item>
              <el-input v-model="from.parentPhone" placeholder="家长手机" size="mini" style="width: 186px;"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button @click="handleList2()" style="padding: 8px 78px;
                    font-size: 14px;
                    background-color: #409EFF;
                    color: #fff;
                    margin-top: 6px; 
                ">搜索</el-button>
            </el-form-item>
          </el-form>
        </div>
      </div>

    </div>
    <!-- 表格 -->
    <div class="table-box">
      <template>
        <div class="details-Date">
          <p>详细数据:</p>
        </div>
        <!-- 表格 -->
        <el-table v-loading="loading" :data="tableData" style="width: 100%" :header-cell-style="getRowClass" :row-style="tabH"
          :cell-style="tabP" :default-sort="{prop: 'date', order: 'descending'}">
          <el-table-column prop="parentName" label="家长姓名" header-align="center">
          </el-table-column>
          <el-table-column prop="studentName" label="学生姓名" header-align="center">
          </el-table-column>
          <el-table-column prop="parentPhone" label="家长手机" header-align="center">
          </el-table-column>
        </el-table>

        <!-- 分页 -->
        <el-pagination @current-change="handleCurrentChange" :currentPage="currentPage" :page-size="10" layout="total, prev, pager, next, jumper"
          :total="total" style="margin: 10px 0;">
        </el-pagination>
      </template>
    </div>
  </div>

</div>
