<div style="margin: 20px;">
  <div class="breadcrumb">
    <a href="#">内容管理</a>
    <a href="#" onClick="window.history.go(-1)">专辑列表</a>
    <a href="#" class="active">添加节目</a>
  </div>
  <div class="albumContent">
    <div class="msg">
      <div class="top">
        <div>
          <span class="msgTitle">
            专辑信息：
          </span>
        </div>
        <div class="msg-bigBox">
          <div class="msg-bigBox-logo">
            <img :src="tableData.fileUrl" class="avatar">
          </div>

          <div class="msg-bigBox-msgBox">
            <div class="msg-bigBox-msgbBox-tool">
              <span class="sColor-a">{{tableData.albumName}}</span>
            </div>
            <div class="msg-bigBox-msgbBox-tool">
              <el-tag v-for="(item,index) in tableData.albumLabel" :key="index">
                {{ item }}
              </el-tag>
            </div>
            <div class="msg-bigBox-msgbBox-tool">
              <span class="see sColor-a">观看：<span class="seeS sColor-a">{{ tableData.albumOpencount }}</span></span>
              <span class="see sColor-a">观众人数：<span class="seeS sColor-a">{{ tableData.albumPersoncount }}</span></span>
              <span class="see sColor-a">收藏：<span class="seeS sColor-a">{{ tableData.albumCollectciunt }}</span></span>
            </div>
            <div class="msg-bigBox-msgbBox-tool">
              <span class="sColor">创建人：</span><span class="sColor">{{ tableData.albumPersonName }} ( {{ tableData.orgName }} , {{ tableData.albumAuthorType }})</span>
            </div>
            <div class="msg-bigBox-msgbBox-tool">
              <span class="sColor">创建时间：</span><span class="sColor">{{ tableData.albumCtime }}</span>
            </div>
            <div class="msg-bigBox-msgbBox-tool">
              <span class="sColor">专辑编号：</span><span class="sColor">{{ tableData.albumId }}</span>
            </div>
            <div class="msg-bigBox-msgbBox-tool">
              <span class="sColor">简介：</span><span class="sColor">{{ tableData.albumIntro }}</span>
            </div>
          </div>
        </div>
      </div>
      <i></i>

      <div class="bottom" id="up">
        <div class="title-bottom">
          <span style="color: #606266;
                    font-size: 14px;
                    font-weight: 400;">节目信息：</span>
        </div>
        <el-table :data="programData" :header-cell-style="getRowClass" style="width: 100%" :row-style="tabH"
          :cell-style="tabP" :default-sort="{prop: 'date', order: 'descending'}">
          <el-table-column prop="materialSort" label="序号" header-align="center">
          </el-table-column>
          <el-table-column v-if="fnn" prop="fileUrl
                        " label="视频封面" header-align="center">
            <template slot-scope="scope">
              <img :src="scope.row.fileUrl" alt=""  height="50" width="80">
            </template>
          </el-table-column>
          <el-table-column prop="materialId" label="节目编号" header-align="center">
          </el-table-column>
          <el-table-column prop="materialName" label="节目名称" header-align="center">
            <template slot-scope="scope">
              <span class="demo" style="min-width: 100px;text-overflow:ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden; text-align: center; cursor: pointer;"
                :title="scope.row.materialName">{{scope.row.materialName}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="materialType" label="类型" header-align="center">
          </el-table-column>
          <el-table-column prop="materialDuration" label="时长" header-align="center">
          </el-table-column>

          <el-table-column prop="materialCtime" label="创建时间" width="180" header-align="center">
          </el-table-column>
          <!-- <el-table-column prop="materialIscheck" label="状态" header-align="center">
                        </el-table-column> -->
          <el-table-column label="操作" header-align="center">
            <template slot-scope="scope">

              <a style="color:#F56C6C" v-if="scope.row.materialTranscodingStatus == 1" @click="play(scope.row.fileUrl1)">播放
              </a>
              <a style="color:#F56C6C" v-if="scope.row.materialTranscodingStatus == 2">转码中
              </a>


              <!-- <video controls="controls" style="width:50px;height:50px;" :src="scope.row.fileUrl1
                                    "></video> -->

            </template>
          </el-table-column>

        </el-table>

        <!-- 分页 -->
        <el-pagination @current-change="handleCurrentChange" :page-size="10" layout="total, prev, pager, next, jumper"
          :total="total" style="margin-top: 20px;">
        </el-pagination>



      </div>


      <div class="bottom" id="add">
        <div class="title" style="margin-bottom: 20px;">
          <span>添加节目：</span>
        </div>
        <el-form :inline="true" class="demo-form-inline" v-for="(item,index) in uploadData" :key="index">
          <el-form-item :label="'节目'+Number(index+1)" style="position: relative;margin-right: 30px;">
            <video controls="controls" class="video" @play="btn2(index)" style="width:100px;height:100px;" :src="item.realUrl
                        "></video>
          </el-form-item>
          <el-form-item label="视频封面">
            <template slot-scope="scope">
              <el-upload 
              class="avatar-uploader" 
              action=""             
              :auto-upload="false"
              :show-file-list="false"
              :on-change="changeUpload"  
              :before-upload="beforeAvatarUpload" 
              style="border:1px solid #ccc;width:160px;height:100px">
                <img v-if="item.imageUrl" :src="item.imageUrl" class="avatar" style="width:160px;height:100px;" @click="setindex(index)">
                <i v-else class="el-icon-plus avatar-uploader-icon" style="margin-top:-6px;margin-left:0px;" @click="setindex(index)"></i>
              </el-upload>
            </template>
          </el-form-item>
          <el-form-item label="节目名称：">
            <el-input v-model="item.fileName" placeholder="请输入节目名称" style="width:300px;"></el-input>
          </el-form-item>
          <!-- <el-form-item label="作者：">
                        <el-input v-model="item.author" placeholder="请输入作者名字" style="width: 200px;"></el-input>
                    </el-form-item> -->
          <span>

            <a href="javaScript:;" @click="del(index)">删除</a>
          </span>
        </el-form>
        <el-button @click="upload()" style="padding: 12px 15px; font-size: 12px">添加节目</el-button>
      </div>


    </div>
    <div class="btn">
      <el-button @click="tj()" id="btn" style="padding: 12px 24px; font-size: 12px">提交</el-button>
      <el-button style="padding: 12px 24px; font-size: 12px" @click="cancel">
        取消
      </el-button>
    </div>
  </div>
  <!-- 上传按钮的弹框-->
  <template class="video-upload">
    <el-dialog title="导入项目" :visible.sync="dialogVisible" width="60%" height="500px;">
      <el-upload class="upload-demo" drag :action=action multiple style="width: 506px; margin: 0 auto;"
        :on-success="fn" :file-list="fileList" :before-upload="beforeVideoUpload" ref="upload">
        <i class="el-icon-upload"></i>
        <div class="el-upload__text" style="width: 506px;">将文件拖到此处，或
          <em>点击上传</em>
          <video style="display: none" id="vid"></video>
        </div>

        <div style="text-align: left;
                width: 80%;
                margin: 0 auto;
                margin-top: 20px;
                line-height: 22px;">
          <p>视频要求：</p>
          <p>1、视频文件大小不超过1G,时长40分钟</p>
          <p>2、视频格式必须为MP4,推荐分辨率1280*720</p>
          <p>3、请勿上传色情、反动等违法视频</p>
        </div>

      </el-upload>

      <span slot="footer" class="dialog-footer">
        <!-- <el-button @click="dialogVisible = false" style="padding: 12px 24px; font-size: 12px">确定</el-button>
        <el-button type="primary" @click="cancel2" style="padding: 12px 24px; font-size: 12px">取消</el-button> -->
      </span>
    </el-dialog>
  </template>
  <!-- 播放的弹框 -->
  <template>
    <el-dialog title="视频播放" :visible.sync="dialogVisiblePlay" width="60%" height="500px;" @close="closeDialog">
      <!-- <video id="media" controls="controls" style="width:500px;height:300px;margin-left: 75px;" :src="Url
                    "></video> -->
      <div style="width:470px;height:300px;margin: 0 auto;">
        <video id="media" class="video" controls="controls" autoplay style="width:480px;height:300px;" :src="Url"></video>

      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisiblePlay = false" style="padding: 12px 24px; font-size: 12px">确定</el-button>
        <!-- <el-button type="primary" @click="dialogVisible = false">取消</el-button> -->
      </span>
    </el-dialog>
  </template>
  <!-- tijiao  -->
  <template>
    <el-dialog title="提示" :visible.sync="dialogVisibleSubmit" width="60%" height="500px;">
      <span>确认提交?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="submitData()" :disabled="commitAble" style="padding: 12px 24px; font-size: 12px">确定</el-button>
        <el-button type="primary" @click="dialogVisibleSubmit = false" style="padding: 12px 24px; font-size: 12px">取消</el-button>
      </span>
    </el-dialog>
  </template>
  <!-- 图片裁剪 -->
<template>
  <el-dialog title="图片剪裁" :visible.sync="dialogVisibleImg" append-to-body>
    <div class="cropper-content">
      <div class="cropper" style="text-align:center">
        <vueCropper
          ref="cropper"
          :img="option.img"
          :outputSize="option.size"
          :outputType="option.outputType"
          :info="true"
          :full="option.full"
          :canMove="option.canMove"
          :canMoveBox="option.canMoveBox"

          :original="option.original"
          :autoCrop="option.autoCrop"
          :canScale="option.canScale"
          :fixed="option.fixed"
          :fixedNumber="option.fixedNumber"
          :centerBox="option.centerBox"
          :infoTrue="option.infoTrue"
          :fixedBox="option.fixedBox"
        ></vueCropper>
      </div>
    </div>
    <div slot="footer" class="dialog-footer">
    
      <el-button type="primary" @click="finish" >确认</el-button>
      <el-button @click="dialogVisibleImg = false">取 消</el-button>
    </div>
  </el-dialog>

</template>


</div>

</div>
