<div>
    <!-- 头部 -->
    <div class="header-header">
        <h3>用户管理-学校管理-教师列表
        </h3>
        <span style="margin-right: 20px;" class="active_title">编辑教师</span>

        <!-- <span>创建视频专辑</span> -->

    </div>
    <!-- 创建专辑的内容 -->
    <div class="albumContent">
        <div class="msg">
            <div class="title">
                <i></i>
                <span>教师信息</span>
            </div>

            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="ruleForm" :inline="true">
                <div class="top">

                    <el-form-item label="教师姓名:">
                        <el-input v-model="ruleForm.name" placeholder="请输入教师姓名" class="inp"></el-input>
                    </el-form-item>

                    <el-form-item label="手机号:">
                        <el-input v-model="ruleForm.name" placeholder="请输入手机号" class="inp"></el-input>
                    </el-form-item>

                    <el-form-item label="教师性别:">
                        <el-select v-model="ruleForm.gender" placeholder="请选择教师性别" class="inp" :selected="value">
                            <el-option label="男" value="男"></el-option>
                            <el-option label="女" value="女"></el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="教师角色:">
                        <el-input v-model="ruleForm.name" placeholder="请输入教师角色" class="inp"></el-input>
                    </el-form-item>

                    <el-form-item label="身份:">
                        <el-input v-model="ruleForm.name" placeholder="请输入教师角色" class="inp"></el-input>
                    </el-form-item>

                    <el-form-item label="状态:">
                        <el-select v-model="ruleForm.gender" placeholder="请选择状态" class="inp" :selected="value">
                            <el-option label="启用" value="启用"></el-option>
                            <el-option label="禁用" value="禁用"></el-option>
                        </el-select>
                    </el-form-item>

                    

                    <!-- <div class="title">
                        <i></i>
                        <span>教师信息</span>
                    </div>
                    
                    <el-form-item label="选择教师:" prop="adminAccount">
                        <el-input v-model="ruleForm.name" placeholder="请输入管理员账号" class="inp"></el-input>
                        <el-button type="danger" plain>查看密码</el-button>
                    </el-form-item>
                    <el-form-item label="选择角色:" prop="adminPassword">
                        <el-input v-model="ruleForm.name" placeholder="请输入管理员密码" class="inp"></el-input>
                        <el-button type="danger" plain>查看密码</el-button>
                    </el-form-item> -->

                    
                </div>

                
                
            </el-form>

            

            
         
           
        </div>
        <div class="btn">
                <el-button>提交</el-button>
                <el-button>
                    取消
                </el-button>
        </div>
    </div>


</div>

</div>