<div>
    <!-- 头部 -->
    <div class="header-header">

            <el-button plain style="padding: 4px 12px; font-size: 12px; margin-top:5px;" onClick="window.history.go(-1)">返回</el-button>
      <br>
      <span style="margin-right: 20px;margin-top:10px;font-size: 14px;" class="active_title">创建专题</span>

        <!-- <span style="margin-right: 20px;" >创建专题</span> -->

    


        <!-- <span>创建视频专辑</span> -->

    </div>
    <!-- 创建专辑的内荣 -->
    <div class="albumContent">
        <div class="msg">
            <div class="title">
                <!-- <i></i> -->
                <span>专题信息</span>
            </div>
            <div class="picMsg">
                <el-form :inline="true" :rules="rules" :model="ruleForm" class="demo-form-inline">
                    <el-form-item label="专题名称：" prop="name">
                        <el-input v-model="ruleForm.name"  placeholder="请输入专题名称" style="width:400px;"></el-input>
                    </el-form-item>
               
                    <br>
                    <el-form-item label="   专题时间：" style="width:500px;" prop="time">
                        <div class="block">

                            <el-date-picker v-model="ruleForm.time" :picker-options="pickerOptions0"  type="datetimerange" @change="getTime" value-format="timestamp" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期">
                            </el-date-picker>
                        </div>
                    </el-form-item>
                    <br>
                    <el-form-item label="   专题简介：" prop="desc">
                        <!-- 组件 -->
                            <vue-ueditor-wrap    v-model="intro" :config="myConfig" style="width: 800px;height:200px;"></vue-ueditor-wrap>
                    </el-form-item>
                    <br>
                    <el-form-item label="   专题封面：" prop="img">
                        <el-upload class="avatar-uploader" :action=action style="border:1px solid #ccc;width:500px;height:200px; position: relative;" :show-file-list="false" :on-success="handleAvatarSuccess"
                            :before-upload="beforeAvatarUpload">
                            <img v-if="imageUrl" :src="imageUrl" style="width:500px;height:200px;" class="avatar">
                            <i v-else class="el-icon-plus avatar-uploader-icon" ></i>
                        </el-upload>
                        <div style="color:#ccc;font-size: 12px; position: absolute;left:520px;top:8px; line-height: 22px;width: 150px;">
                                <p>上传尺寸要求宽高5:2</p>
                                <p>推荐最佳尺寸为1000*400最小尺寸500*200</p>
                                <p>图片须小于1MB</p>
                                <p>图片支持格式jpeg、jpg、png、bmp</p>
                              </div>
                    </el-form-item>
                    <br>
                    <el-form-item label="发布时间：" prop="radio">
                            <template>
                                <el-radio v-model="ruleForm.radio" label="1">立即发布</el-radio>
    
                                <div class="block">
                                    <el-radio v-model="ruleForm.radio" label="2">定时发布</el-radio>
                                    <el-date-picker v-if='ruleForm.radio==2' v-model="upTime" type="datetime" value-format="timestamp" placeholder="选择日期时间">
                                    </el-date-picker>
                                </div>
                            </template>
    
                        </el-form-item>
 
                </el-form>
            </div>

        </div>
        <div class="btn">
            <el-button @click="submit()">提交</el-button>
            <el-button @click = "dialogVisibleDel = true">
                取消
            </el-button>
        </div>

  <!-- 提交的弹框 -->
  <template>
        <el-dialog title="提示" :visible.sync="dialogVisible" width="50%" height="500px;">
          <span>确认提交?</span>
          <span slot="footer" class="dialog-footer">
            <el-button @click="handleForm()" size="mini">确定</el-button>
            <el-button @click="dialogVisible = false" size="mini"> 取消</el-button>
          </span>
        </el-dialog>
      </template>

  <!-- 取消的弹框 -->
  <template>
    <el-dialog title="提示" :visible.sync="dialogVisibleDel" width="50%" height="500px;">
      <span>确认取消提交?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="del()" size="mini">确定</el-button>
        <el-button @click="dialogVisibleDel = false" size="mini"> 取消</el-button>
      </span>
    </el-dialog>
  </template>
    </div>


</div>