<div>
    <!-- 头部 -->
    <div class="header-header">
            <el-button plain style="padding: 4px 12px; font-size: 12px; margin-top:5px;" onClick="window.history.go(-1)">返回</el-button>
            <br>
            <span style="margin-right: 20px;margin-top:10px;" class="active_title">审核活动</span>



        <!-- <span>创建视频专辑</span> -->

    </div>
    <!-- 创建专辑的内荣 -->
    <div class="albumContent">
        <div class="msg">
        
            <div class="picMsg">
                <el-form :inline="true" :rules="rules" :model="ruleForm" class="demo-form-inline">
                    <el-form-item label="活动名称：" prop="name">
                        <!-- <el-input v-model="ruleForm.name"  placeholder="活动" style="width:300px;"></el-input> -->
                        <span>{{ruleForm.activityName}}</span>
                    </el-form-item>
                    <el-form-item label="归属专题：" prop="name" style="margin-left: 100px;">
                        <!-- <el-select v-model="ruleForm.user" placeholder="专题" style="width:300px;">
                            <el-option label="区域一" value="shanghai"></el-option>
                            <el-option label="区域二" value="beijing"></el-option>
                        </el-select> -->
                        <span>{{ruleForm.activitySubjectName}}</span>
                    </el-form-item>
                    <br>
                    <el-form-item label="活动时间：" prop="name" style="width:600px;">
                        <div class="block">
                            <span>{{ruleForm.activityStime}}</span>
                            <span style="margin-left: 10px;margin-right: 10px;">至</span>
                            <span>{{ruleForm.activityEtime }}</span>
                            <!-- <el-date-picker v-model="time" type="datetimerange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期">
                            </el-date-picker> -->
                        </div>
                    </el-form-item>
                    <br>
                    <el-form-item label="活动地区：" prop="name">
                            <div class="block">
                      
                                    <span>{{ruleForm.activityAreaName }}</span>
                                    <!-- <el-date-picker v-model="time" type="datetimerange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期">
                                    </el-date-picker> -->
                                </div>
                                <!-- <vue-ueditor-wrap v-model="ruleForm.activityIntro" readonly :config="myConfig" style="width: 800px;height:200px;"></vue-ueditor-wrap> -->
                            <!-- <span id="main"></span> -->
                            <!-- <vue-ueditor-wrap v-model="msg" :config="myConfig" style="width: 1300px;height:200px;"></vue-ueditor-wrap> -->
                        </el-form-item>
                        <br>
                    <el-form-item label="活动简介：" prop="name">
                        <div id="main" style="width: 800px;">

                        </div>
                            <!-- <vue-ueditor-wrap v-model="ruleForm.activityIntro" readonly :config="myConfig" style="width: 800px;height:200px;"></vue-ueditor-wrap> -->
                        <!-- <span id="main"></span> -->
                        <!-- <vue-ueditor-wrap v-model="msg" :config="myConfig" style="width: 1300px;height:200px;"></vue-ueditor-wrap> -->
                    </el-form-item>
                    <br>
                    <el-form-item label="活动封面：" prop="name">
                        <el-popover placement="right" height="500" trigger="click" style="padding:0;border:none">
                            <img :src="ruleForm.activityFileUrl" class="avatar" style="width:500px;height:500px;">
                            <el-button slot="reference" style="padding:0;border:none">
                                <img :src="ruleForm.activityFileUrl" class="avatar">
                            </el-button>

                        </el-popover>
                    </el-form-item>
                    <br>
                    <el-form-item  label="是否推送到红卡设备:" prop="name">
                            <template>
                                    <span>{{ruleForm.activityRadio}}</span>
                  
                            </template>
    
                        </el-form-item>
                        <br>
                    <el-form-item  label="发布时间：" prop="name">
                        <template>
                                <span>{{ruleForm.activityItime}}</span>
              
                        </template>

                    </el-form-item>
                    <div class="btn">
                        <el-button @click="Pass(ruleForm.activityId)" >通过</el-button>
                        <el-button @click="nopass(ruleForm.activityId)">
                            不通过
                        </el-button>
                    </div>
         
                </el-form>
            </div>


        </div>


          <!-- 通过弹框 -->
  <template>
    <el-dialog title="审核" :visible.sync="dialogVisiblePass" width="50%" height="500px;">
      <span>确认要通过此活动的审核?</span>

      <span slot="footer" class="dialog-footer">
        <el-button @click="pass()" style="padding: 12px 24px; font-size: 12px">确定</el-button>
        <el-button @click="dialogVisiblePass = false" style="padding: 12px 24px; font-size: 12px">取消</el-button>
      </span>
    </el-dialog>

  </template>

  <!-- 不通过弹框 -->
  <template>
    <el-dialog title="审核" :visible.sync="dialogVisiblenoPass" width="50%" height="500px;">
      <span>确认不通过此活动的审核?</span>

      <span slot="footer" class="dialog-footer">
        <el-button @click="noPassSubmit()" style="padding: 12px 24px; font-size: 12px">确定</el-button>
        <el-button @click="dialogVisiblenoPass = false" style="padding: 12px 24px; font-size: 12px">取消</el-button>
      </span>
    </el-dialog>

  </template>

    <!-- 原因 -->
    <template>
        <el-dialog title="原因" :visible.sync="dialogVisibleReason" width="50%" height="500px;">
            <el-form>
                <el-form-item label="不通过理由:">
                  <el-input v-model="reason" type="textarea" :autosize="{ minRows: 3, maxRows: 3 }" style="width:370px;">{{reason}}</el-input>
                </el-form-item>
              </el-form>
    
          <span slot="footer" class="dialog-footer">
            <el-button @click="reasonSubmit()" style="padding: 12px 24px; font-size: 12px">确定</el-button>
            <el-button @click="dialogVisibleReason = false" style="padding: 12px 24px; font-size: 12px">取消</el-button>
          </span>
        </el-dialog>
    
      </template>



    </div>

</div>