.table-content {
    padding:0 15px;
  }
  /* .table-box { */
    /* border: 1px solid #ccc; */
    /* margin-left: 30px; */
  /* } */
  
  .demo-table-expand {
    font-size: 10px;
  }
  
  .demo-table-expand label {
    width: 190px;
    color: #99a9bf;
  }
  
  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }
  
  .el-table {
      text-align: center;
      border: 1px solid #ccc;
  }
  
  .el-table td, .el-table th.is-leaf {
      text-align: center;
  }
  
  .demo-table-expand {
      text-align: left;
  }
  
  .header-header {
    width: 100%;
    height: 58px;
    padding-left:15px;
    /* border-bottom: 1px solid #ccc; */
    /* margin-bottom: 20px; */
    position: relative;
  }
  
  .header-header h3 {
    font-size: 20px;
  
  }
  
  .header-header span{
    font-size: 14px;
    margin-top: 4px;
    display: inline-block;
    /* padding-bottom: 5px; */
  
  }
  .active_title {
    border-bottom:2px solid #409eff;
    color: #409eff;
}
  /* 搜索列表选项框 */
  .table-search {
    margin-bottom: 10px;
    /* margin-top: 25px; */
  }
  .search-top {
    /* height:160px; */
    border-bottom:1px solid #ccc;
    /* padding:10px 20px; */
  }
  .search-top .search-title {
    font-size: 14px;
    /* font-weight: 700; */
    position: relative;
  
  }
  /* .search-top .search-title i {
    width: 3px;
    height:20px;
    display: inline-block;
    background-color: rgb(85, 85, 85);
    position: absolute;
    left:0px;
  
  } */
  .search-list {
    padding-top:10px;
    position: relative;

  }
  
  .search-button {
    text-align: right;
      
  
  }
  .search-button button {
    width: 60px;
    height:30px;
    margin-bottom: 8px;
  
    border-radius: 5px;
    margin-top: 8px;
    margin-right: 10px;
  }
  /* .table-box .details-Date .el-button:hover{
    background-color:#409eff;
    border:none;
    color: #fff;
  }
  .table-box .details-Date .el-button:visited{
    background-color:#409eff;
    border:none;
    color: #fff;
  }
  
  .el-button:focus, .el-button:hover {
    color: #fff;
    border-color:none;
    background-color:#409eff;
  }
  .table-box .details-Date .el-button:active{
    background-color:#409eff;
    border:none;
    color: #fff;
  } */
  
  /* 列表的title  专辑详情*/
  .table-box .details-Date  {
    height:34px;
  
    /* border-bottom: 1px solid #ccc; */
    position: relative;
    padding-left: 20px;
    padding-top:10px;
  
  }
  /* .table-box .details-Date  p {
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
  }
  .table-box .details-Date  i{
    width: 3px;
    height:20px;
    display: inline-block;
    background-color: rgb(85, 85, 85);
    position: absolute;
    left:20px;
  
  
  } */

  .table-box .details-Date ul {
    margin-top: -20px;
    float: right;
  }
  .table-box .details-Date ul li {
    float: left;
    margin-left: 10px;
  }
  
  .table-box {
    padding-top: 15px;
  
    }
    
  
    .xiaoshou {
      cursor: pointer;
    }
  
    .el-form-item {
      margin-bottom: 5px;
    }
  
    .search-button {
      text-align: right;
        
      position: absolute;
      right:0px;
      bottom:10px;
    }
    .btnMin {
      padding:7px 19px;
      font-size: 12px;
    }
  
    a {
      cursor: pointer;
    }
    
    a:hover {
      color: #409eff
    }
  
    .el-dialog__header {
      background-color: #409eff;
    
      letter-spacing: 2px;
    }
     .el-dialog__header span,.el-dialog__headerbtn .el-dialog__close{
      color:#fff;
    }
    .el-dialog  .el-form-item {
      margin-right: 30px;
    }
    .el-dialog .el-textarea__inner {
      /* height:100px; */
      resize: none;
      /* width: 200px; */
    }
    .el-dialog .footers {
      border-top:1px solid #ccc;
      padding-top:30px;
      /* text-align: center; */
    }
    .el-dialog .dialog-footer {
      text-align: center;
    
    }
    .el-dialog .dialog-footer button {
      padding:15px 30px;
    }
    .el-dialog .dialog-footer button:first-child {
      background-color: #409eff;
      color:#fff;
      margin-right: 15px;
      border:none;
    }
    /* .el-dialog .dialog-footer button:last-child {
      color: #409eff;
      background-color:#fff;
      margin-right: 15px;
      border:1px solid #409eff;
    } */
    .el-upload .el-upload-dragger {
      background-color: #fff;
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 360px;
      height: 300px !important;
      text-align: center;
      position: relative;
      overflow: hidden;
      padding-top: 50px;
    }
 