<div>

    <!-- 内容管理头 -->
    <div class="header-header">
      
        <el-button plain style="padding: 4px 12px; font-size: 12px; margin-top:5px;" onClick="window.history.go(-1)">返回</el-button>
        <br>
        <span style="margin-right: 20px;margin-top:10px;" @click="appSchool()" class="xiaoshou" >精品学堂</span>
        <span style="margin-right: 20px;margin-top:10px;" @click="hotSchool()" class="xiaoshou" >热门学堂</span>
        <span style="margin-right: 20px;margin-top:10px;" @click="VTeacher()" class="active_title">大V讲师</span>


    </div>
    <div class="content" style="margin-top: 20px;">
        <div class="left" > 
            <div class="title">
                <!-- <i></i> -->
                <p> APP展示列表</p>
                <a href="javaScript:;">清除列表</a>
            </div>
            <div class="con">
                <ul>
                    <li>
                        <span>1</span>
                        <img src="../../../../static/im.png" alt="">
                        <div>
                            <p>专辑名称</p>
                            <p>
                                <a href="javaScript:;">上移</a>
                                <a href="javaScript:;">下移</a>
                                <a href="javaScript:;">置顶</a>
                                <a href="javaScript:;">移除</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <span>2</span>
                        <img src="../../../../static/im.png" alt="">
                        <div>
                            <p>专辑名称</p>
                            <p>
                                <a href="javaScript:;">上移</a>
                                <a href="javaScript:;">下移</a>
                                <a href="javaScript:;">置顶</a>
                                <a href="javaScript:;">移除</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <span>3</span>
                        <img src="../../../../static/im.png" alt="">
                        <div>
                            <p>专辑名称</p>
                            <p>
                                <a href="javaScript:;">上移</a>
                                <a href="javaScript:;">下移</a>
                                <a href="javaScript:;">置顶</a>
                                <a href="javaScript:;">移除</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <span>4</span>
                        <img src="../../../../static/im.png" alt="">
                        <div>
                            <p>专辑名称</p>
                            <p>
                                <a href="javaScript:;">上移</a>
                                <a href="javaScript:;">下移</a>
                                <a href="javaScript:;">置顶</a>
                                <a href="javaScript:;">移除</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <span>5</span>
                        <img src="../../../../static/im.png" alt="">
                        <div>
                            <p>专辑名称</p>
                            <p>
                                <a href="javaScript:;">上移</a>
                                <a href="javaScript:;">下移</a>
                                <a href="javaScript:;">置顶</a>
                                <a href="javaScript:;">移除</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <span>6</span>
                        <img src="../../../../static/im.png" alt="">
                        <div>
                            <p>专辑名称</p>
                            <p>
                                <a href="javaScript:;">上移</a>
                                <a href="javaScript:;">下移</a>
                                <a href="javaScript:;">置顶</a>
                                <a href="javaScript:;">移除</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <span>7</span>
                        <img src="../../../../static/im.png" alt="">
                        <div>
                            <p>专辑名称</p>
                            <p>
                                <a href="javaScript:;">上移</a>
                                <a href="javaScript:;">下移</a>
                                <a href="javaScript:;">置顶</a>
                                <a href="javaScript:;">移除</a>
                            </p>
                        </div>
                    </li>

                    <li>
                        <span>8</span>
                        <img src="../../../../static/im.png" alt="">
                        <div>
                            <p>专辑名称</p>
                            <p>
                                <a href="javaScript:;">上移</a>
                                <a href="javaScript:;">下移</a>
                                <a href="javaScript:;">置顶</a>
                                <a href="javaScript:;">移除</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <span>9</span>
                        <img src="../../../../static/im.png" alt="">
                        <div>
                            <p>专辑名称</p>
                            <p>
                                <a href="javaScript:;">上移</a>
                                <a href="javaScript:;">下移</a>
                                <a href="javaScript:;">置顶</a>
                                <a href="javaScript:;">移除</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <span>10</span>
                        <img src="../../../../static/im.png" alt="">
                        <div>
                            <p>专辑名称</p>
                            <p>
                                <a href="javaScript:;">上移</a>
                                <a href="javaScript:;">下移</a>
                                <a href="javaScript:;">置顶</a>
                                <a href="javaScript:;">移除</a>
                            </p>
                        </div>
                    </li>
                    <li>
                            <span >11</span>
                            <img src="../../../../static/im.png" alt="">
                            <div>
                                <p>专辑名称</p>
                                <p>
                                    <a href="javaScript:;">上移</a>
                                    <a href="javaScript:;">下移</a>
                                    <a href="javaScript:;">置顶</a>
                                    <a href="javaScript:;">移除</a>
                                </p>
                            </div>
                        </li>
                        <li>
                                <span >12</span>
                                <img src="../../../../static/im.png" alt="">
                                <div>
                                    <p>专辑名称</p>
                                    <p>
                                        <a href="javaScript:;">上移</a>
                                        <a href="javaScript:;">下移</a>
                                        <a href="javaScript:;">置顶</a>
                                        <a href="javaScript:;">移除</a>
                                    </p>
                                </div>
                            </li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="title">
                <!-- <i></i> -->
                <p>全部专辑</p>
            </div>
            <div class="right_con">
                <div class="search">
                        <el-input
                        placeholder="请输入内容"
                        v-model="searchInp"
                        clearable
                       style="width:60%"
                        >
                      </el-input>
                      <el-button class="search-button btnMin" style="padding: 12px 25px;
                      font-size: 12px;
                      background-color: #409eff;
                      color: #fff;
                      margin-left: 20px;
                  ">搜索</el-button>
                </div>
                <div class="list"> 
                    <div class="albumMsg">
                        <img src="../../../../static/im.png" style="width:130px;height: 80px;margin-top: 20px; ;" alt="">
                        <p>专辑名称</p>
                        <p style="position: absolute;right:3px;top:-0px;" >
                            <a href=""style="color:#409eff">已添加</a>
                            <a href="" style="color:#409eff">编辑</a>
                            <a href="" style="color:#409eff">删除</a>

                        </p>
                  
                    </div>
                    <div class="albumMsg">
                            <img src="../../../../static/im.png" style="width:130px;height: 80px;margin-top: 20px; ;" alt="">
                            <p>专辑名称</p>
                            <p style="position: absolute;right:3px;top:-0px;" >
                                    <a href=""style="color:#409eff">已添加</a>
                                    <a href="" style="color:#409eff">编辑</a>
                                    <a href="" style="color:#409eff">删除</a>
    
                            </p>
                      
                        </div>
                        <div class="albumMsg">
                                <img src="../../../../static/im.png" style="width:130px;height: 80px;margin-top: 20px; ;" alt="">
                                <p>专辑名称</p>
                                <p style="position: absolute;right:3px;top:-0px;" >
                                        <a href=""style="color:#409eff">已添加</a>
                                        <a href="" style="color:#409eff">编辑</a>
                                        <a href="" style="color:#409eff">删除</a>
        
                                </p>
                          
                            </div>
                            <div class="albumMsg">
                                    <img src="../../../../static/im.png" style="width:130px;height: 80px;margin-top: 20px; ;" alt="">
                                    <p>专辑名称</p>
                                    <p style="position: absolute;right:3px;top:-0px;" >
                                            <a href=""style="color:#409eff">已添加</a>
                                            <a href="" style="color:#409eff">编辑</a>
                                            <a href="" style="color:#409eff">删除</a>
            
                                    </p>
                              
                                </div>
                                <div class="albumMsg">
                                        <img src="../../../../static/im.png" style="width:130px;height: 80px;margin-top: 20px; ;" alt="">
                                        <p>专辑名称</p>
                                        <p style="position: absolute;right:3px;top:-0px;" >
                                                <a href=""style="color:#409eff">已添加</a>
                                                <a href="" style="color:#409eff">编辑</a>
                                                <a href="" style="color:#409eff">删除</a>
                
                                        </p>
                                  
                                    </div>
                                    <div class="albumMsg">
                                            <img src="../../../../static/im.png" style="width:130px;height: 80px;margin-top: 20px; ;" alt="">
                                            <p>专辑名称</p>
                                            <p style="position: absolute;right:3px;top:-0px;" >
                                                    <a href=""style="color:#409eff">已添加</a>
                                                    <a href="" style="color:#409eff">编辑</a>
                                                    <a href="" style="color:#409eff">删除</a>
                    
                                            </p>
                                      
                                        </div>
                </div>
                    <!-- 分页 -->
        <el-pagination @current-change="handleCurrentChange" :page-size="100" layout="total, prev, pager, next, jumper" :total="1000" style="text-align: center;">
            </el-pagination>
            </div>
      
        </div>


        
    </div>
</div>