<div>

  <div class="breadcrumb">
    <a href="#">硬件管理</a>
    <a href="#" @click="HardwareInventory()">硬件入库</a>
    <a href="#" class="active">入库明细</a>

  </div>
  <div class="table-content">
    <!-- 搜索列表选项框 -->
    <div class="table-search">
      <div class="search-top">
        <div class="search-title">
          <!-- <i></i> -->
          <!-- <p style="margin-left: 10px;"> 搜索</p> -->

        </div>
        <div class="search-list">
          <el-form :inline="true" :model="deviceForm" class="demo-form-inline">
            <el-form-item>
              <el-input @change="fushu" v-model="deviceForm.number" placeholder="设备号" size="mini" style="width:186px;"></el-input>
            </el-form-item>

            <el-form-item>
              <el-button @click="hardwareList2()" style="padding: 8px 78px;
                                font-size: 14px;
                                background-color: #409EFF;
                                color: #fff;
                                margin-top: 6px; 
                            ">搜索</el-button>
            </el-form-item>
          </el-form>

        </div>
      </div>
    </div>
    <!-- 表格 -->
    <div class="table-box">
      <template>
        <div class="details-Date">
          <!-- <i></i> -->
          <p> 详情数据</p>
          <ul style="float:right;">
            <!-- <li>
                <el-button size="mini" @click="download()">导出本页数据</el-button>
            </li> -->


          </ul>

        </div>
        <!-- 表格 -->
        <el-table v-loading="loading" :data="tableData" style="width: 100%" :header-cell-style="getRowClass" :row-style="tabH"
          :cell-style="tabP" :default-sort="{prop: 'date', order: 'descending'}">
          <el-table-column prop="deviceNumber" label="设备号" header-align="center">
          </el-table-column>

          <el-table-column prop="username" label="导入人" header-align="center">
          </el-table-column>

          <el-table-column prop="tableUptime" label="导入时间" header-align="center">
          </el-table-column>

        </el-table>

        <!-- 分页 -->
        <el-pagination @current-change="handleCurrentChange" :currentPage='currentPage' :page-size="10" layout="total, prev, pager, next, jumper"
          :total="total" style="margin-top: 10px;margin-bottom: 10px;">
        </el-pagination>
      </template>
    </div>
  </div>


  <!-- 弹框 -->
  <!-- <el-dialog width="30%" title="系统提示" :visible.sync="innerVisible" append-to-body>
    <el-form>
      <el-form-item label="不通过理由:">
        <el-input v-model="reason" type="textarea" :autosize="{ minRows: 3, maxRows: 3 }" style="width:370px;"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogVisiblenoPass=true" style="padding: 12px 24px; font-size: 12px">提交</el-button>
      <el-button @click="innerVisible = false,outerVisible = true" style="padding: 12px 24px; font-size: 12px">取消</el-button>
    </div>
  </el-dialog> -->

  <el-dialog title="失败原因" :visible.sync="dialogVisibleStatus" width="30%">
    <span>数据格式不正确</span>
    <span slot="footer" class="dialog-footer">
      <el-button @click="dialogVisibleStatus = false" style="padding: 12px 24px; font-size: 12px">确认</el-button>
      <el-button @click="dialogVisibleStatus = false" style="padding: 12px 24px; font-size: 12px">取消</el-button>
    </span>
  </el-dialog>
</div>
