.breadcrumb {
  display: inline-block;
  box-shadow: 0 0 13px -5px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  border-radius: 5px;
  counter-reset: flag;
  position: fixed;
  top: 22px;
  z-index: 2000;
  left: 179px;
}

.breadcrumb a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 32px;
  color: #409eff;
  padding: 0 10px 0 60px;
  background: #fff;
  background: linear-gradient(#fff, #fff);
  position: relative;
}

.breadcrumb a:first-child {
  padding-left: 46px;
  border-radius: 5px 0 0 5px;
}

.breadcrumb a:first-child:before {
  left: 14px;
}

.breadcrumb a:last-child {
  border-radius: 0 5px 5px 0;
  padding-right: 20px;
  background: #409eff;
  background: linear-gradient(#409eff, #409eff);
  color: #fff;
}


.breadcrumb a.active,
  {
  background: #fff;
  background: linear-gradient(#fff, #fff);
  color: #409eff;

}

.breadcrumb a.active:after,
  {
  background: #fff;
  background: linear-gradient(135deg, #fff, #fff);
  color: #409eff;

}

.breadcrumb a:after {
  content: '';
  position: absolute;
  top: 0;
  right: -16px;
  width: 32px;
  height: 32px;
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
  background: #fff;
  background: linear-gradient(135deg, #fff, #fff);
  box-shadow: 2px -2px 0 -1px rgba(0, 0, 0, 0.1), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
  border-radius: 0 5px 0 50px;
}

.breadcrumb a:last-child:after {
  content: none;
}

.breadcrumb a:before {
  content: counter(flag);
  counter-increment: flag;
  /*some styles now*/
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 6px 0;
  position: absolute;
  top: 0;
  left: 30px;
  background: #409eff;
  background: linear-gradient(#409eff, #409eff);
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.breadcrumb a:last-child:before {
  background: #fff;
  background: linear-gradient(#fff, #fff);
  color: #409eff;
}


.table-content {
  padding: 10px;
  margin: 20px;
  background-color: #fff;
  }

  
  .header-header {
    position: relative;
  }  
  .header-header span{
    font-size: 14px;
    margin-top: 4px;
    display: inline-block;

    padding-bottom: 12px;
  
  }
  .active_title {
    border-bottom:2px solid #1989FA;
    color:#1989FA;
    cursor: pointer;
  
  }
  .data {
    /* margin-top: 20px; */
    width: 700px;
    background-color: #fff;
  
  }
  .data p {
    line-height: 45px;
    border-bottom: 1px solid #F5F7FA;

  }
  .data span {
    margin-right: 3px;
  }
  .data .details {
    float: right;
  }

  .data .details {
    color:red;
  }
  /* .data .commentname {
    color:#F58E4F;
  } */
  .data .activityName {
    color:#409EFF;
  }