<div>
  <div class="breadcrumb">
    <a href="#" @click="home()">首页</a>
    <a href="#" class="active">消息通知</a>
  </div>
  <!-- 内容管理头 -->
  <div class="table-content">
    <div class="header-header">
      <span style="margin-right: 20px;margin-top:10px;" class="active_title">评论</span>
    </div>
    <div class="data">
      <p v-for="(item,index) in commentData" :key="index">
        <span class="time">{{item.time}} :  </span>
        <span class="type"  v-if="item.type=='comment'">打卡</span>
        <span class="type"  v-if="item.type=='reply'">互动</span>

        <span class="commentname">{{item.commentNickName}}</span>
        <span>对</span>
        <span v-if="item.type=='comment'" class="activityName"  @click="detail(item.activityId)">{{item.activityName}}</span>
        <span v-if="item.type=='reply'" class="replyname">{{item.replyNickName}}</span>

        <span v-if="item.type=='comment'">的活动进行评论</span>
        <span v-if="item.type=='reply'">的打卡进行回复</span>

        <span class="details" @click="reply(item.commentId)">查看详情 > </span>
      </p>
    </div>



  </div>

</div>



</div>
