.breadcrumb {
  display: inline-block;
  box-shadow: 0 0 13px -5px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  border-radius: 5px;
  counter-reset: flag;
  position: fixed;
  top: 22px;
  z-index: 2000;
  left: 179px;
}

.breadcrumb a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 32px;
  color: #409eff;
  padding: 0 10px 0 60px;
  background: #fff;
  background: linear-gradient(#fff, #fff);
  position: relative;
}

.breadcrumb a:first-child {
  padding-left: 46px;
  border-radius: 5px 0 0 5px;
}

.breadcrumb a:first-child:before {
  left: 14px;
}

.breadcrumb a:last-child {
  border-radius: 0 5px 5px 0;
  padding-right: 20px;
  background: #409eff;
  background: linear-gradient(#409eff, #409eff);
  color: #fff;
}


.breadcrumb a.active,
  {
  background: #fff;
  background: linear-gradient(#fff, #fff);
  color: #409eff;

}

.breadcrumb a.active:after,
  {
  background: #fff;
  background: linear-gradient(135deg, #fff, #fff);
  color: #409eff;

}

.breadcrumb a:after {
  content: '';
  position: absolute;
  top: 0;
  right: -16px;
  width: 32px;
  height: 32px;
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
  background: #fff;
  background: linear-gradient(135deg, #fff, #fff);
  box-shadow: 2px -2px 0 -1px rgba(0, 0, 0, 0.1), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
  border-radius: 0 5px 0 50px;
}

.breadcrumb a:last-child:after {
  content: none;
}

.breadcrumb a:before {
  content: counter(flag);
  counter-increment: flag;
  /*some styles now*/
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 6px 0;
  position: absolute;
  top: 0;
  left: 30px;
  background: #409eff;
  background: linear-gradient(#409eff, #409eff);
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.breadcrumb a:last-child:before {
  background: #fff;
  background: linear-gradient(#fff, #fff);
  color: #409eff;
}
.albumContent {
  margin: 20px;
  background: #fff;
  padding-bottom: 20px;
}

.albumContent .msg {

  padding-top: 20px;
}



.albumContent .msg .title {
  height: 30px;
  line-height: 30px;
  /* font-weight: 700; */
  position: relative;
}

.albumContent .msg .title span {
  margin-left: 10px;
}
  .inp {
      width: 500px;
  }

.top .el-form-item__error {
    color: #409eff;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    left: 18px;
}
/* 图片上传 */
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 300px;
    height: 150px;
    line-height: 150px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
  /* label */
  .el-form-item__label  {
      /* font-weight: 700; */
      /* margin-right: 20px; */
  }

  /*上表单 input框 */
  .top .el-input,.el-input__inner {
     
      border-radius: 5px;
  }
  /*上表单 文本域 */
.el-textarea,.el-textarea__inner {
      width:80%;
      /* height:300px; */
      border-radius: 5px;
      resize: none;
  }
  /* 下表单 */
  .bottom {
      /* margin-left: 30px; */
      padding:0 50px;
  }
  .bottom .el-form-item {
      margin-right: 30px;
  }
  .bottom .el-input,.el-input__inner {
    /* width: 100%; */
    /* height:50px; */
    border-radius: 5px;
}
.bottom span a{
    color:#409eff;
    display: inline-block;
    margin-top: 10px;
    margin-right: 13px;
}
.bottom .el-button {
    border:none;
    background-color: #409eff;
    color:#fff;
}
.btn {
    text-align: center;
  }
  
  .btn .el-button {
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
  }
  
  .btn .el-button:first-child {
    border: none;
    background-color: #409EFF;
    color: #fff;
    margin-right: 20px;
  }
  
 
  .el-dialog__header {
    background-color: #409eff;
  
    letter-spacing: 2px;
  }
   .el-dialog__header span,.el-dialog__headerbtn .el-dialog__close{
    color:#fff;
  }
  .el-dialog  .el-form-item {
    margin-right: 30px;
  }
  .el-dialog .el-textarea__inner {
    /* height:100px; */
    resize: none;
    /* width: 200px; */
  }
  .el-dialog .footers {
    border-top:1px solid #ccc;
    padding-top:30px;
    /* text-align: center; */
  }
  .el-dialog .dialog-footer {
    text-align: center;
  
  }
  .el-dialog .dialog-footer button {
    padding:15px 30px;
  }
  .el-dialog .dialog-footer button:first-child {
    background-color: #409eff;
    color:#fff;
    margin-right: 15px;
    border:none;
  }

  .preview-box-bottom {
 

    margin: 0 auto;
    margin-top: 20px;
    padding:20px;
  
  }
  
  .preview-box-bottom-title  h3{
    color: #606266;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: -4px;
    text-align: center;
    color:#606266;
  }
  
  .preview-box-bottom-content-text {
    margin-bottom: 20px;
    font-size: 13px;
    color: #909399;
    line-height: 20px;
    text-align: left;
    text-indent:26px;
    word-break:break-all;
  }
  
  .preview-box-bottom-content-img {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .preview-box-bottom-content-mp4 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .preview-box-bottom-content-mp3 {
    text-align: center;
    margin-bottom: 20px;
  }
  .range {
    margin-top:80px;
    padding:20px;
    background:rgba(245,247,250,1);
    width:100%;color:#909399;
  }
    