<div>
  <div class="breadcrumb">
    <a href="#">内容管理</a>
    <a href="#" onClick="window.history.go(-1)">专辑列表</a>
    <a href="#" class="active">编辑专辑</a>
  </div>
  <!-- 创建专辑的内荣 -->
  <div class="albumContent">
    <div class="msg">
      <el-form :model="tableData" :rules="rules" ref="tableData" label-width="100px" class="demo-ruleForm">
        <div class="top">
          <el-form-item label="专辑名称:" prop="albumName">
            <el-input v-model="tableData.albumName" class="inp" style="width: 400px;"></el-input>
          </el-form-item>
          <el-form-item label="专辑标签:">
            <el-tag :key="tag" v-for="tag in dynamicTags" closable :disable-transitions="false" @close="handleClose(tag)">
              {{tag}}
            </el-tag>
            <div v-show="bool">
              <el-input class="input-new-tag inp" style="width: 400px;" v-if="inputVisible" v-model="inputValue" ref="saveTagInput"
                size="mini" @keyup.enter.native="keyupEnt()" @blur="handleInputConfirm">
              </el-input>
              <el-button v-else class="button-new-tag" size="mini" @click="showInput()">输入标签</el-button>
            </div>
          </el-form-item>
          <!-- <el-form-item label="专辑分类: ">
            <el-input v-model="tableData.albumCategoryName" disabled class="inp" style="width: 400px;"></el-input>
          </el-form-item> -->
          <el-form-item label="专辑简介:" prop="albumIntro">
            <el-input type="textarea" :autosize="{ minRows: 5, maxRows: 5 }" style="width: 400px;" v-model="tableData.albumIntro"
              class="inp"></el-input>
          </el-form-item>
          <el-form-item label="专辑封面:" prop="img">
            <el-upload class="avatar-uploader" action="" :auto-upload="false" :show-file-list="false" :on-change="changeUpload"
              :before-upload="beforeAvatarUpload" style="border:1px solid #ccc;width:130px;height:130px">
              <img v-if="imageUrl" :src="imageUrl" style="width:130px;height:130px" class="avatar">
              <i v-else class="el-icon-plus avatar-uploader-icon" style="width:130px;height:130px"></i>
            </el-upload>
          </el-form-item>
          <div class="btn" style="margin-bottom: 20px;">
            <el-button @click="dialogVisibleEditAlbum=true">提交</el-button>
            <el-button @click="dialogVisibleEditAlbum2 = true">
              取消
            </el-button>
          </div>
        </div>
        <i></i>

        <div class="bottom">
          <div class="title-bottom">
            <span style="color: #606266;
                      font-size: 14px;
                      font-weight: 400;">节目信息：</span>
          </div>
          <el-table :data="programData" :header-cell-style="getRowClass" style="width: 100%" :row-style="tabH"
            :cell-style="tabP" :default-sort="{prop: 'date', order: 'descending'}">
            <el-table-column prop="materialSort" label="序号" header-align="center">
            </el-table-column>
            <el-table-column v-if="albumType=='视频'" prop="fileUrl
                        " label="视频封面" width="100"
              header-align="center">
              <template slot-scope="scope">
                <img :src="scope.row.fileUrl" alt="" style="width:80px;height:50px;">
              </template>
            </el-table-column>
            <el-table-column prop="materialId" label="节目编号" header-align="center">
            </el-table-column>
            <el-table-column prop="materialName" label="节目名称" header-align="center">
              <template slot-scope="scope">
                <span class="demo" style="min-width: 80px;text-overflow:ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden; text-align: center; cursor: pointer;"
                  :title="scope.row.materialName">{{scope.row.materialName}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="materialType" label="类型" header-align="center">
            </el-table-column>
            <el-table-column prop="materialDuration" label="时长" header-align="center">
            </el-table-column>
            <el-table-column prop="materialStatus" label="状态" header-align="center">
            </el-table-column>
            <el-table-column label="操作" width="200" header-align="center">
              <template slot-scope="scope" header-align="center">
                <a v-if="scope.row.materialTranscodingStatus == 1 && scope.row.materialType == '视频'" style="color:#F56C6C;margin-right: 5px;"
                  @click="play(scope.row.fileUrl1)">播放
                </a>
                <a v-if="scope.row.materialTranscodingStatus == 1 && scope.row.materialType == '音频'" style="color:#F56C6C;margin-right: 5px;"
                  @click="playAudio(scope.row.fileUrl1)">播放
                </a>
                <a v-if="scope.row.materialTranscodingStatus == 2" style="color:#F56C6C;margin-right: 5px;">转码中
                </a>
                <a style="color:#F56C6C;margin-right: 15px;" @click="editProgram(scope.row)">编辑
                </a>
                <a @click="fn2(scope.row.materialId,scope.row.materialStatus)" style="color:#F56C6C;margin-right: 5px;">删除
                </a>
                <!-- <a v-if="scope.row.materialStatus=='上架' && scope.row.materialTranscodingStatus == 1" @click="fn(scope.row.materialId,scope.row.materialStatus)"
                  style="color:#F56C6C">下架
                </a>
                <a v-if="scope.row.materialStatus=='下架' && scope.row.materialTranscodingStatus == 1" @click="fn(scope.row.materialId,scope.row.materialStatus)"
                  style="color:#F56C6C">上架
                </a> -->
              </template>
            </el-table-column>
          </el-table>
          <!-- 分页 -->
          <el-pagination @current-change="handleCurrentChange" :page-size="10" layout="total, prev, pager, next, jumper"
            :total="total" style="margin-top: 10px;margin-bottom: 10px;">
          </el-pagination>
        </div>
        <!-- <div class="bottom" id="add" v-if="albumType=='音频'">
          <div class="title" style="margin-bottom: 20px;">
            <span>添加节目：</span>
          </div>
          <el-form :inline="true" class="demo-form-inline" v-for="(item,index) in uploadData" :key="index">
            <el-form-item :label="'节目'+Number(index+1)" style="position: relative;margin-right: 30px;">
              <audio controls="controls" class="audio" @play="btn2(index)" style="width:260px;height:65px; margin-top: -20px;"
                :src="item.realUrl"></audio>
            </el-form-item>
            <el-form-item label="节目名称：">
              <el-input v-model="item.fileName" placeholder="请输入节目名称" style="width:200px;"></el-input>
            </el-form-item>
            <span>
              <a href="javaScript:;" @click="del(index)">删除</a>
            </span>
          </el-form>
          <el-button @click="upload()" style="padding: 12px 15px; font-size: 12px">添加节目</el-button>
        </div>
        <div class="bottom" id="add" v-if="albumType=='视频'">
          <div class="title" style="margin-bottom: 20px;">
            <span>添加节目：</span>
          </div>
          <el-form :inline="true" class="demo-form-inline" v-for="(item,index) in uploadDataVideo" :key="index">
            <el-form-item :label="'节目'+Number(index+1)" style="position: relative;margin-right: 30px;">
              <video controls="controls" class="video" @play="btn2(index)" style="width:100px;height:100px;" :src="item.realUrl
                          "></video>
            </el-form-item>
            <el-form-item label="视频封面">
              <template slot-scope="scope">
                <el-upload class="avatar-uploader" action=""  :auto-upload="false" :show-file-list="false" :on-change="changeUploadVideo"
                  :before-upload="beforeAvatarUploadVideo" style="border:1px solid #ccc;width:160px;height:100px">
                  <img v-if="item.imageUrl" :src="item.imageUrl" class="avatar" style="width:160px;height:100px;"
                    @click="setindex(index)">
                  <i v-else class="el-icon-plus avatar-uploader-icon" style="margin-top:-6px;margin-left:0px;" @click="setindex(index)"></i>
                </el-upload>
              </template>
            </el-form-item>
            <el-form-item label="节目名称：">
              <el-input v-model="item.fileName" placeholder="请输入节目名称" style="width:300px;"></el-input>
            </el-form-item>
       
            <span>

              <a href="javaScript:;" @click="del(index)">删除</a>
            </span>
          </el-form>
          <el-button @click="upload()" style="padding: 12px 15px; font-size: 12px">添加节目</el-button>
        </div> -->
      </el-form>
    </div>
    <div class="btn">
      <el-button @click="tj()" id="btn" style="padding: 12px 24px; font-size: 12px">提交</el-button>
      <el-button style="padding: 12px 24px; font-size: 12px" @click="cancel">
        取消
      </el-button>
    </div>
  </div>
  <!-- 确定修改？ -->
  <template>
    <el-dialog title="提示" :visible.sync="dialogVisibleEditAlbum" width="30%">
      <span>确定修改此条信息</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="submit()" style="padding: 12px 24px; font-size: 12px">确定</el-button>
        <el-button @click="dialogVisibleEditAlbum = false" style="padding: 12px 24px; font-size: 12px">取消</el-button>
      </span>
    </el-dialog>
  </template>
  <!-- 取消修改？ -->
  <template>
    <el-dialog title="提示" :visible.sync="dialogVisibleEditAlbum2" width="30%">
      <span>确定取消修改此条信息</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="a()" style="padding: 12px 24px; font-size: 12px">确定</el-button>
        <el-button @click="dialogVisibleEditAlbum2 = false" style="padding: 12px 24px; font-size: 12px">取消</el-button>
      </span>
    </el-dialog>
  </template>
  <!-- 确定上下架？ -->
  <template>
    <el-dialog title="提示" :visible.sync="dialogVisible" width="30%">
      <span>确定修改状态？</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="del()" style="padding: 12px 24px; font-size: 12px">确定</el-button>
        <el-button @click="dialogVisible = false" style="padding: 12px 24px; font-size: 12px">取消</el-button>
      </span>
    </el-dialog>
  </template>
  <!-- 确定删除？ -->
  <template>
    <el-dialog title="提示" :visible.sync="dialogVisibleDel" width="30%">
      <span>确定删除节目？</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="del2()" style="padding: 12px 24px; font-size: 12px">确定</el-button>
        <el-button @click="dialogVisibleDel = false" style="padding: 12px 24px; font-size: 12px">取消</el-button>
      </span>
    </el-dialog>
  </template>
  <!-- 修改 -->
  <template>
    <el-dialog title="提示" :visible.sync="dialogVisibleEdit" width="30%">
      <el-form label-width="80px">
          <el-form-item label="视频封面:" prop="img" v-if="albumType=='视频'">
              <el-upload class="avatar-uploader" action="" :auto-upload="false" :show-file-list="false"  style="border:1px solid #ccc;width:200px;height:125px":on-change="changeUploadEdit">
                <img v-if="VideoimageUrl" :src="VideoimageUrl" style="width:200px;height:125px" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon" style="width:200px;height:125px"></i>
              </el-upload>            
                  <!-- <img  v-if="nowBelongId!=orgId" :src="VideoimageUrl" style="width:200px;height:125px" class="avatar"> -->
              </el-form-item>
        <el-form-item label="节目名称">

          <el-input  v-model="materialName"></el-input>
          <!-- <el-input v-if="nowBelongId!=orgId" disabled="disabled" v-model="materialName"></el-input> -->

        </el-form-item>
        <el-form-item label="更改顺序">
          <el-input v-model="materialSort"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editSubmit()" style="padding: 12px 24px; font-size: 12px">确定</el-button>
        <el-button @click="dialogVisibleEdit = false" style="padding: 12px 24px; font-size: 12px">取消</el-button>
      </span>
    </el-dialog>
  </template>
  <!-- 播放 -->
  <!-- 播放的弹框 -->
  <template>
    <el-dialog title="节目播放" :visible.sync="dialogVisiblePlay" @close="closeDialog" width="50%" height="500px;">
      <div slot="footer" style="width:500px;height:300px;margin: 0 auto;margin-top: -45px;margin-bottom: 20px;" class="div">
        <!-- <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="500" height="300" data-setup="{}">
          <source :src="Url" type="video/mp4">
          <source :src="Url" type="video/webm">
          <source :src="Url" type="video/ogg">
    
        </video> -->
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisiblePlay = false">确定</el-button>

      </span>
    </el-dialog>
  </template>


  <!-- 播放 -->
  <template>
    <el-dialog title="节目播放" :visible.sync="dialogVisiblePlayAudio" @close="closeDialog" width="60%" height="500px;">
      <div slot="footer" style="width:480px;height:90px;margin: 0 auto;margin-top: -45px;margin-bottom: 20px;" class="div">
        <audio controls="controls" id='example_video_1' autoplay :src="UrlAudio" style="width: 480px;height:65px;"></audio>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisiblePlayAudio = false">确定</el-button>

      </span>
    </el-dialog>
  </template>
  <!-- 专辑图片裁剪 -->
  <template>
    <el-dialog title="图片剪裁" :visible.sync="dialogVisibleImg" append-to-body>
      <div class="cropper-content">
        <div class="cropper" style="text-align:center">
          <vueCropper ref="cropper" :img="option.img" :outputSize="option.size" :outputType="option.outputType" :info="true"
            :full="option.full" :canMove="option.canMove" :canMoveBox="option.canMoveBox" :original="option.original"
            :autoCrop="option.autoCrop" :canScale="option.canScale" :fixed="option.fixed" :fixedNumber="option.fixedNumber"
            :centerBox="option.centerBox" :infoTrue="option.infoTrue" :fixedBox="option.fixedBox"></vueCropper>


        </div>
        <!-- @realTime="realTime" -->
      </div>
      <div slot="footer" class="dialog-footer">

        <el-button type="primary" @click="finish">确认</el-button>
        <el-button @click="dialogVisibleImg = false">取 消</el-button>
      </div>
    </el-dialog>

  </template>
    <!-- 视频封面裁剪 -->
    <template>
      <el-dialog title="图片剪裁" :visible.sync="dialogVisibleImgVideo" append-to-body>
        <div class="cropper-content">
          <div class="cropper" style="text-align:center">
            <vueCropper ref="cropper" :img="option.img" :outputSize="option.size" :outputType="option.outputType" :info="true"
              :full="option.full" :canMove="option.canMove" :canMoveBox="option.canMoveBox" :original="option.original"
              :autoCrop="option.autoCrop" :canScale="option.canScale" :fixed="option.fixed" :fixedNumber="option.fixedNumber"
              :centerBox="option.centerBox" :infoTrue="option.infoTrue" :fixedBox="option.fixedBox"></vueCropper>
  
  
          </div>
          <!-- @realTime="realTime" -->
        </div>
        <div slot="footer" class="dialog-footer">
  
          <el-button type="primary" @click="finishImgVideo">确认</el-button>
          <el-button @click="dialogVisibleImgVideo = false">取 消</el-button>
        </div>
      </el-dialog>
  
    </template>
  <!-- 添加音频 -->
  <template>
    <el-dialog title="导入项目" :visible.sync="dialogVisibleAdd" width="60%" height="500px;">
      <el-upload class="upload-demo" drag :action=action multiple
        style="width: 506px; margin: 0 auto;" :on-success="successAudio" :file-list="fileList" :before-upload="beforeAudioUpload"
        ref="upload">
        <i class="el-icon-upload"></i>
        <div class="el-upload__text" style="width: 506px;">将文件拖到此处，或
          <em>点击上传</em>
        </div>
        <video style="display: none" id="vid"></video>
        <div style="text-align: left;
      width: 80%;
      margin: 0 auto;
      margin-top: 20px;
      line-height: 22px;">
          <p>音频要求：</p>
          <p>1、音频文件大小不超过50M，时长不超过30分种</p>
          <p>2、音频格式必须为MP3</p>
          <p>3、请勿上传色情、反动等违法音频</p>
        </div>

      </el-upload>
      <span slot="footer" class="dialog-footer">
      </span>
    </el-dialog>
  </template>
  <!-- tijiao  -->
  <template>
    <el-dialog title="提示" :visible.sync="dialogVisibleSubmit" width="60%" height="500px;">
      <span>确认提交?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="submitData()" :disabled="commitAble" style="padding: 12px 24px; font-size: 12px">确定</el-button>
        <el-button @click="dialogVisibleSubmit = false" style="padding: 12px 24px; font-size: 12px">取消</el-button>
      </span>
    </el-dialog>
  </template>
  <!-- 添加视频 -->
  <!-- 上传按钮的弹框-->
  <template class="video-upload">
    <el-dialog title="导入项目" :visible.sync="dialogVisibleVideo" width="60%" height="500px;">
      <el-upload class="upload-demo" drag :action=action multiple
        style="width: 506px; margin: 0 auto;" :on-success="successVideo" :file-list="fileList" :before-upload="beforeVideoUpload"
        ref="upload">
        <i class="el-icon-upload"></i>
        <div class="el-upload__text" style="width: 506px;">将文件拖到此处，或
          <em>点击上传</em>
          <video style="display: none" id="vid"></video>
        </div>

        <div style="text-align: left;
                width: 80%;
                margin: 0 auto;
                margin-top: 20px;
                line-height: 22px;">
          <p>视频要求：</p>
          <p>1、视频文件大小不超过1G,时长40分钟</p>
          <p>2、视频格式必须为MP4,推荐分辨率1280*720</p>
          <p>3、请勿上传色情、反动等违法视频</p>
        </div>

      </el-upload>

      <span slot="footer" class="dialog-footer">
        <!-- <el-button @click="dialogVisible = false" style="padding: 12px 24px; font-size: 12px">确定</el-button>
        <el-button type="primary" @click="cancel2" style="padding: 12px 24px; font-size: 12px">取消</el-button> -->
      </span>
    </el-dialog>
  </template>
  <!-- 视频封面裁剪 -->
  <template>
    <el-dialog title="图片剪裁" :visible.sync="dialogVisibleVideoImg" append-to-body>
      <div class="cropper-content">
        <div class="cropper" style="text-align:center">
          <vueCropper ref="cropperVideo" :img="optionVideo.img" :outputSize="optionVideo.size" :outputType="optionVideo.outputType"
            :info="true" :full="optionVideo.full" :canMove="optionVideo.canMove" :canMoveBox="optionVideo.canMoveBox"
            :original="optionVideo.original" :autoCrop="optionVideo.autoCrop" :canScale="optionVideo.canScale" :fixed="optionVideo.fixed"
            :fixedNumber="optionVideo.fixedNumber" :centerBox="optionVideo.centerBox" :infoTrue="optionVideo.infoTrue"
            :fixedBox="optionVideo.fixedBox"></vueCropper>
        </div>
      </div>
      <div slot="footer" class="dialog-footer">

        <el-button type="primary" @click="finishVideo">确认</el-button>
        <el-button @click="dialogVisibleVideoImg = false">取 消</el-button>
      </div>
    </el-dialog>
  </template>
</div>
</div>
