<div>
        <!-- 头部 -->
        <div class="header-header">
            <h3>用户管理-平台用户
            </h3>
            <span style="margin-right: 20px;" class="active_title">编辑用户</span>
    
            <!-- <span>创建视频专辑</span> -->
    
        </div>
        <!-- 创建专辑的内容 -->
        <div class="albumContent">
            <div class="msg">
                <div class="title">
                    <i></i>
                    <span>编辑用户</span>
                </div>
    
                <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="ruleForm" :inline="true">
                    <div class="top">
                        <el-form-item label="用户姓名:" prop="name">
                            <el-input v-model="ruleForm.name" placeholder="请输入用户姓名" class="inp"></el-input>
                        </el-form-item>

                        <el-form-item label="联系方式:" prop="phone" >
                            <el-input v-model="ruleForm.region" placeholder="请输入电话号码" class="inp" ></el-input>
                        </el-form-item>

                        <el-form-item label="选择性别:" prop="name">
                                <el-select v-model="ruleForm.region" placeholder="请选择性别" class="inp" :selected="value">
                                    <el-option label="区域一" value="shanghai"></el-option>
                                     <el-option label="区域二" value="beijing"></el-option>
                                </el-select>
                            </el-form-item>
                            
                            <el-form-item label="选择地区:" prop="name">
                                    <el-select v-model="ruleForm.region" placeholder="请选择地区" class="inp" :selected="value">
                                        <el-option label="区域一" value="shanghai"></el-option>
                                         <el-option label="区域二" value="beijing"></el-option>
                                    </el-select>
                                </el-form-item>
            
                                    <br>
                        <el-form-item label="个人简介:" prop="desc">
                            <el-input type="textarea" :autosize="{ minRows: 10, maxRows: 10 }" v-model="ruleForm.desc" placeholder="请输入个人简介" style="width: 1300px;"></el-input>
                        </el-form-item>
                        <br>
                        <el-form-item label="用户头像:" prop="img">
                            <!-- <el-input type="textarea" v-model="ruleForm.desc"></el-input> -->
                            <el-upload class="avatar-uploader" action="https://jsonplaceholder.typicode.com/posts/" :show-file-list="false" :on-success="handleAvatarSuccess"
                                :before-upload="beforeAvatarUpload">
                                <img v-if="imageUrl" :src="imageUrl" class="avatar">
                                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                            </el-upload>
                        </el-form-item>
                    </div>
                </el-form>

                

                
             
               
            </div>
            <div class="btn">
                    <el-button>提交</el-button>
            </div>
        </div>
    
    
    </div>
    
    </div>