.header-header {
    width: 100%;
    height: 58px;
    padding-left:15px;
    /* border-bottom: 1px solid #ccc; */
    /* margin-bottom: 20px; */
    position: relative;
  }
  

  
  .header-header span{
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    padding-bottom: 5px;
 
  }
  .active_title {
      border-bottom:2px solid #409eff;
      color:#409eff;
  }
  .albumContent {
    padding:30px 20px;
   
  }
  .albumContent .msg {
      padding:20px;
      border:1px solid #ccc;
      padding-top:0px;
  }
  /* title */
  .albumContent .msg  .title {
        height:60px;
        line-height: 60px;
        /* font-weight: 700; */
        position: relative;
  }
  .albumContent .msg  .title span {
      margin-left: 10px;
  }
  .albumContent .msg  .title i {
      position: absolute;
      left:0px;
      top:20px;
      display: inline-block;
      width: 3px;
      height:20px;
      background-color: #969696;
  }
  .inp {
      width: 500px;
  }

.top .el-form-item__error {
    color: #409eff;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    left: 18px;
}
/* 图片上传 */
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 300px;
    height: 150px;
    line-height: 150px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
  /* label */
  .el-form-item__label  {
      /* font-weight: 700; */
      /* margin-right: 20px; */
  }

  /*上表单 input框 */
  .top .el-input,.el-input__inner {
     
      border-radius: 5px;
  }
  /*上表单 文本域 */
.el-textarea,.el-textarea__inner {
      width:80%;
      /* height:300px; */
      border-radius: 5px;
      resize: none;
  }
  /* 下表单 */
  .bottom {
      /* margin-left: 30px; */
      padding:0 50px;
  }
  .bottom .el-form-item {
      margin-right: 30px;
  }
  .bottom .el-input,.el-input__inner {
    /* width: 100%; */
    /* height:50px; */
    border-radius: 5px;
}
.bottom span a{
    color:#409eff;
    display: inline-block;
    margin-top: 10px;
    margin-right: 13px;
}
.bottom .el-button {
    border:none;
    background-color: #409eff;
    color:#fff;
}
.btn {
    text-align: center;
  }
  
  .btn .el-button {
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
  }
  
  .btn .el-button:first-child {
    border: none;
    background-color: #409EFF;
    color: #fff;
    margin-right: 20px;
  }
  
 
  .el-dialog__header {
    background-color: #409eff;
  
    letter-spacing: 2px;
  }
   .el-dialog__header span,.el-dialog__headerbtn .el-dialog__close{
    color:#fff;
  }
  .el-dialog  .el-form-item {
    margin-right: 30px;
  }
  .el-dialog .el-textarea__inner {
    /* height:100px; */
    resize: none;
    /* width: 200px; */
  }
  .el-dialog .footers {
    border-top:1px solid #ccc;
    padding-top:30px;
    /* text-align: center; */
  }
  .el-dialog .dialog-footer {
    text-align: center;
  
  }
  .el-dialog .dialog-footer button {
    padding:15px 30px;
  }
  .el-dialog .dialog-footer button:first-child {
    background-color: #409eff;
    color:#fff;
    margin-right: 15px;
    border:none;
  }