<div>
  <div class="breadcrumb">
    <a href="#">账号管理</a>
    <a href="#" class="active">行政系统</a>
  </div>
  <!-- 内容管理头 -->
  <div class="header-header">
    <span style="margin-right: 20px;margin-top:10px;" class="xiaoshou" @click="lookposition()">全部基地</span>
    <span style="margin-right: 20px;margin-top:10px;" class="xiaoshou" @click="schoolManagement()">全部学校</span>
    <span style="margin-right: 20px;margin-top:10px;" class="xiaoshou" @click="lookTeacher()">全部辅导员</span>
    <span style="margin-right: 20px;margin-top:10px;" class="active_title xiaoshou">全部学生</span>
    <span style="margin-right: 20px;margin-top:10px;" class="xiaoshou" @click="lookParents()">全部家长</span>
  </div>

  <div class="table-content">
    <!-- 搜索列表选项框 -->
    <div class="table-search">
      <div class="search-top">
        <div class="search-list">
          <el-form :inline="true" :model="searchItem" class="demo-form-inline">
            <el-form-item>
              <el-input v-model="from.studentName" placeholder="学生名称" size="mini" style="width: 186px;"></el-input>
            </el-form-item>
            <el-form-item>
              <el-input v-model="from.parentName" placeholder="家长姓名" size="mini" style="width: 186px;"></el-input>
            </el-form-item>
            <el-form-item>
              <el-input v-model="from.schoolName" placeholder="学校名称" size="mini" style="width: 186px;"></el-input>
            </el-form-item>
            <el-form-item v-show="active">
              <el-select v-model="from.studentGrade" clearable  placeholder="年级" size="mini" style="width: 186px;">
                <el-option label="一年级" value="1"></el-option>
                <el-option label="二年级" value="2"></el-option>
                <el-option label="三年级" value="3"></el-option>
                <el-option label="四年级" value="4"></el-option>
                <el-option label="五年级" value="5"></el-option>
                <el-option label="六年级" value="6"></el-option>
                <el-option label="初一" value="7"></el-option>
                <el-option label="初二" value="8"></el-option>
                <el-option label="初三" value="9"></el-option>
              </el-select>
            </el-form-item>

            <el-form-item>
              <el-button @click="handleList2()" style="padding: 8px 78px;
                      font-size: 14px;
                      background-color: #409EFF;
                      color: #fff;
                      margin-top: 6px; 
                  ">搜索</el-button>
            </el-form-item>
            <br>
            <el-form-item>
              <div v-show="styleTextBool" @click="style()" style="width: 186px; margin-left: 4px;margin-top: -10px; cursor: pointer;">
                <img src="../../../../static/moreS.png" alt="">
                <span style="color: #909399; margin-left: 5px; font-size: 12px;">更多条件</span>
              </div>
            </el-form-item>
          </el-form>
        </div>
      </div>

    </div>
    <!-- 表格 -->
    <div class="table-box">
      <template>
        <div class="details-Date">
          <p>详细数据:</p>
        </div>
        <!-- 表格 -->
        <el-table v-loading="loading" :data="tableData" style="width: 100%" :header-cell-style="getRowClass" :row-style="tabH"
          :cell-style="tabP" :default-sort="{prop: 'date', order: 'descending'}">
          <!-- <el-table-column prop="schoolPersonId" label="学校ID" header-align="center" width="195">
              </el-table-column> -->
          <el-table-column prop="studentName" label="学生姓名" header-align="center">
          </el-table-column>
          <el-table-column prop="parentName" label="家长姓名" header-align="center">
          </el-table-column>
          <el-table-column prop="schoolName" label="学校名称" header-align="center">
            <template slot-scope="scope">
              <span style="min-width: 80px;text-overflow:ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1; overflow: hidden; cursor: pointer;"
                :title="scope.row.schoolName">{{scope.row.schoolName}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="studentGrade" label="年级" header-align="center">
          </el-table-column>
          <el-table-column prop="studentClass" label="班级" header-align="center">
          </el-table-column>
          <el-table-column prop="studentIsinclassTime" label="入班时间" header-align="center">
          </el-table-column>
        </el-table>

        <!-- 分页 -->
        <el-pagination @current-change="handleCurrentChange" :currentPage="currentPage" :page-size="10" layout="total, prev, pager, next, jumper"
          :total="total" style="margin: 10px 0;">
        </el-pagination>
      </template>
    </div>
  </div>

</div>
