.header-header {
    width: 100%;
    height: 58px;
    padding-left:15px;
    /* border-bottom: 1px solid #ccc; */
    /* margin-bottom: 20px; */
    /* position: relative; */
  }
  
  .header-header h3 {
    font-size: 20px;

  }
  
  .header-header span{
    font-size: 14px;
    margin-top: 4px;
    display: inline-block;
    /* padding-bottom: 5px; */
 
  }
  .active_title {
    border-bottom:2px solid #409eff;
    color: #409eff;
}
  .albumContent {
    padding:15px;
    /* margin-top: 30px; */
  }
  .albumContent .msg {
      padding:20px;
      border:1px solid #ccc;
      padding-top:0px;
  }
  /* title */
  .albumContent .msg  .title {
        height:20px;
        line-height: 60px;
        font-weight: 700;
        position: relative;
  }
  .albumContent .msg  .title span {
      margin-left: 10px;
  }
  .albumContent .msg  .title i {
      position: absolute;
      left:0px;
      top:20px;
      display: inline-block;
      width: 3px;
      height:20px;
      background-color: #969696;
  }

/* 图片上传 */
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
  /* label */
  .el-form-item__label  {
      font-weight: 700;
      /* margin-right: 20px; */
  }
  /* .albumContent .top {
      border-bottom: 1px dashed #ccc;
  } */


  /* 下表单 */
  .bottom {
      /* margin-left: 30px; */
      padding:0 50px;
  }
  .bottom .el-form-item {
      margin-right: 30px;
  }
  .bottom .el-input,.el-input__inner {
    /* width: 100%; */
    /* height:50px; */
    border-radius: 5px;
}
.demo-form-inline .preview {
    width: 100px;
    height:100px;
    display: inline-block;
    margin-top: -20px;
    margin-right: 10px;
    border:1px solid #ccc;
}
.bottom span a{
    color:red;
    display: inline-block;
    margin-top: 10px;
    margin-right: 13px;
}
.bottom .el-button {
    border:none;
    background-color: rgb(245, 93, 85);
    color:#fff;
}
.btn {

    text-align: center;
}
.btn .el-button {
    margin-top: 30px;
    padding:15px 60px;
    border-radius:5 px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
}
.btn .el-button:first-child {
    border:none;
    background-color: rgb(245, 93, 85);
    color:#fff;
    margin-right: 20px;
}
.btn .el-button:nth-child(2){
    border:none;
    background-color: rgb(170, 170, 170);
    color:#fff;
}


/* 弹框样式 */
.el-dialog__header {
    background-color: rgb(245, 93, 85);
  
    letter-spacing: 2px;
  }
   .el-dialog__header span,.el-dialog__headerbtn .el-dialog__close{
    color:#fff;
  }

.el-dialog .dialog-footer {
    text-align: center;
  
  }
  .el-dialog .dialog-footer button {
    padding:15px 30px;
  }
  .el-dialog .dialog-footer button:first-child {
    background-color: rgb(245, 93, 85);
    color:#fff;
    margin-right: 15px;
    border:none;
  }
  .el-dialog .dialog-footer button:nth-child(2){
      background-color: #fff;
      border:1px solid #ccc;
      color:#969696;
  }
  .el-upload-dragger {
    background-color: #fff;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 360px;
    height: 300px !important;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-top: 50px;
  }
  .el-upload-dragger:hover {
    border-color: rgb(245, 93, 85);
}
.el-upload-dragger .el-upload__text em {
    color: rgb(245, 93, 85);
    font-style: normal;
}

.spa {
    display: block;
    width: 464px;
}
